/*
FILNAVN: style.css
LAGET AV: Tord Austad
NÅR: Oktober 2015
MÅL: Globale style-regler som tilpasser bootstrap og legger til egne regler
*/

/* Fontvalg for siden */
* {
  font-family: 'Open Sans', sans-serif !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #ebebeb;
}

/* Farge på markert tekst */
/* WebKit/Blink Browsers */
::selection {
  background: #ebebeb;
}
/* Gecko Browsers */
::-moz-selection {
  background: #ebebeb;
}

/* START PÅ NAVBAR-REGLER */

.navbar-inverse {
    background-color: #333333;
    border: 0;
}

/* Tittel som bare vises når siden er under 768px */

.navbar-inverse .navbar-brand {
    color: #ffffff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #ebebeb;
}

@media all and (max-width: 767px) {
    .x767 {
      display: block;
    }
    .x768 {
      display: none;
    }
}

@media all and (min-width: 768px) {
    .x767 {
      display: none;
    }
    .x768 {
      display: block;
    }
}


/* Linker */

.navbar-inverse .navbar-nav > li > a:hover {
    color: #333333;
    background-color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a:focus {
    color: #333333;
    background-color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a {
    color: #333333;
    background-color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
    color: #ffffff;
    background-color: #333333;
  }
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #333333;
    background-color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
    color: #ffffff;
    background-color: #333333
}
.navbar-inverse .navbar-nav > .open > a:hover {
    color: #ffffff;
    background-color: #333333
}
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #333333;
    background-color: #ffffff;
}
/* Opp-ned trekant for dropdown-meny */
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-inverse .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-inverse .navbar-nav > .open > a .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-inverse .navbar-nav > .open > a:hover .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-inverse .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Regler for mobilversjonen */
.navbar-inverse .navbar-toggle {
    border-color: #DDD;
}
.navbar-inverse .navbar-toggle:hover {
    background-color: #484848;
}
.navbar-inverse .navbar-toggle:focus {
    background-color: #333333;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #CCC;
}


@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #ddd;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
    .jumbotron {
    }
}
/* Slutt på mobilversjon */

/* link og dropdown ved forskjellige størrelser på vindu*/
@media (min-width: 768px){
    .navbar-nav{
        float: none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
    .navbar-inverse .navbar-nav > li > a {
        padding-right: 40px;
        padding-left: 40px;
        color: #ffffff;
        border-right: 0;
    }
    .dropdown-menu {
      left: 50%;
      right: auto;
      text-align: center;
      transform: translate(-50%, 0);
    }
}

@media (min-width: 992px){
    .navbar-nav{
        float: none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
    .navbar-inverse .navbar-nav > li > a {
        padding-right: 62px;
        padding-left: 62px;
        color: #ffffff;
        border-right: 0;
    }
    .dropdown-menu {
      left: 50%;
      right: auto;
      text-align: center;
      transform: translate(-50%, 0);
    }
}

@media (min-width: 1200px){
    .navbar-nav{
        float: none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
    .navbar-inverse .navbar-nav > li > a {
        padding-right: 82px;
        padding-left: 82px;
        color: #ffffff;
        border: 0;
    }
    .dropdown-menu {
      left: 50%;
      right: auto;
      text-align: center;
      transform: translate(-50%, 0);
    }
}
/* SLUTT PÅ NAVBAR */

/* Farge bak jumbotron som dekker hele bredden */
.jumbocolor {
  background-color: #808080;
  padding: 0 0 0 0;
}

/* Setter inn header-bildet som background i jumbotron og posisjonerer timeren*/
.headerimg {
  background: url(../img/header.jpg) no-repeat center center;
  color: #ffffff;
  margin-top: 50px;
  max-width: 1170px;
  max-height: 180px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* home.html har større header-bilde, og får sin egen class */
.headerimghome {
  background: url(../img/headerhome.jpg) no-repeat center center;
  color: #ffffff;
  margin-top: 50px;
  max-width: 1170px;
  min-height: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Fjerner bootstrap sitt mellomrom mellom jumbotron og container */
.jumbotron {
  margin-bottom: 0px;
}

/* Skygge brukt i forskjellige lag på siden */
.shadow1 {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.shadow2 {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.shadow3 {
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

/* Tilleggsregler til bootstrap sin conainer-class*/
.customcontainer {
  padding-bottom:20px;
  background-color: white;
}

/* Brukt for å sentrere tekst */
.textcenter {
  text-align: center;
}

/*Brukt for å få mer luft rundt innholdet */
.textbox {
  margin-left: 10px;
  margin-right: 10px;
}

/* Setter elementet i kolonnen i midten av raden */
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

/* Sticky footer */
.footer {
  background-color: #ebebeb;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 36px;
}
